<h4><%= @guest.name %>
  with prior reservation made at <%= @previous_slot %>
  has updated it to <%= @reservation.time_slot %>, for table ID: <%= @reservation.table_id %> for <%= @reservation.guest_count %> people.</h4>

